%p{style: "color: green"}= notice

- content_for :title, "Socks"

.socks-page
  .socks-header
    %h1 Socks
    .header-actions
      = link_to "New sock", new_sock_path, class: "button primary"

  %div.socks-grid
    - @socks.each do |sock|
      = render sock
